#!/usr/bin/make -f
#
# debian/rules file to build upmethodology package.
#
# Created 23 Aug 2007, by Stephane Galland <galland@arakhne.org>

#export DH_VERBOSE=1

include /usr/share/cdbs/1/rules/buildvars.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

top_dir      := $(shell pwd)
install_dir  := $(top_dir)/debian/tmp

build: build-stamp

configure-stamp: unpack-stamp
	dh_testdir
	touch $@

build-stamp: configure-stamp
	dh_testdir

	# Force updating of DebConf internationalization
	cd ${top_dir}/debian && debconf-updatepo

	cd ${top_dir} && perl ./Makefile.PL "--prefix=${install_dir}/usr" compile

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-dia.postrm" -d "dia2pdf;dia;pdf;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-dia.preinst" -d "dia2pdf;dia;pdf;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-dia.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-dot.postrm" -d "dot2pdf;dot;pdf;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-dot.preinst" -d "dot2pdf;dot;pdf;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-dot.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-gnuplot.postrm" -d "plot2pdf;plot;pdf;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-gnuplot.preinst" -d "plot2pdf;plot;pdf;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-gnuplot.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-gzimage.postrm" -d "imggz2img;imggz;img;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-gzimage.preinst" -d "imggz2img;imggz;img;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-gzimage.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-svg-inkscape.postrm" -d "svg2png;svg;png;" -d "svg2pdf;svg;pdf;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-svg-inkscape.preinst" -d "svg2png;svg;png;" -d "svg2pdf;svg;pdf;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-svg-inkscape.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-xfig.postrm" -d "fig2pdf;fig;pdf;"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-xfig.preinst" -d "fig2pdf;fig;pdf;"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-xfig.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-xmi-umbrello.postrm" -d "xmi2pdf_umbrello;xmi;pdf;umbrello"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-xmi-umbrello.preinst" -d "xmi2pdf_umbrello;xmi;pdf;umbrello"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-xmi-umbrello.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-xmi-uml2svg.postrm" -d "xmi2pdf_uml2svg;xmi;pdf;uml2svg"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-xmi-uml2svg.preinst" -d "xmi2pdf_uml2svg;xmi;pdf;uml2svg"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-xmi-uml2svg.templates"

	cd ${top_dir}/debian && ./make_translator_script -i "_translator.postrm" -o "autolatex-xmi-xmi2svg.postrm" -d "xmi2pdf_xmi2svg;xmi;pdf;xmi2svg"
	cd ${top_dir}/debian && ./make_translator_script -i "_translator.preinst" -o "autolatex-xmi-xmi2svg.preinst" -d "xmi2pdf_xmi2svg;xmi;pdf;xmi2svg"
	cd ${top_dir}/debian && cp -f "_translator.templates" "autolatex-xmi-xmi2svg.templates"

	touch $@

unpack-stamp:
	dh_testdir
	touch $@

binary-indep:
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install --sourcedir=debian/tmp --autodest
	dh_installdocs
	dh_installchangelogs
	dh_installman
	dh_link
	dh_installdebconf
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

install: install-stamp

install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k

	cd ${top_dir} && perl ./Makefile.PL --nobinlink "--prefix=${install_dir}/usr" install

	touch $@
clean::
	dh_testdir
	dh_testroot
	cd ${top_dir} && perl ./Makefile.PL clean
	${RM} *-stamp
	${RM} debian/autolatex-dia.postrm debian/autolatex-dia.preinst debian/autolatex-dia.templates
	${RM} debian/autolatex-dot.postrm debian/autolatex-dot.preinst debian/autolatex-dot.templates
	${RM} debian/autolatex-gnuplot.postrm debian/autolatex-gnuplot.preinst debian/autolatex-gnuplot.templates
	${RM} debian/autolatex-gzimage.postrm debian/autolatex-gzimage.preinst debian/autolatex-gzimage.templates
	${RM} debian/autolatex-svg-inkscape.postrm debian/autolatex-svg-inkscape.preinst debian/autolatex-svg-inkscape.templates
	${RM} debian/autolatex-xfig.postrm debian/autolatex-xfig.preinst debian/autolatex-xfig.templates
	${RM} debian/autolatex-xmi-umbrello.postrm debian/autolatex-xmi-umbrello.preinst debian/autolatex-xmi-umbrello.templates
	${RM} debian/autolatex-xmi-uml2svg.postrm debian/autolatex-xmi-uml2svg.preinst debian/autolatex-xmi-uml2svg.templates
	${RM} debian/autolatex-xmi-xmi2svg.postrm debian/autolatex-xmi-xmi2svg.preinst debian/autolatex-xmi-xmi2svg.templates
	dh_clean


.PHONY: binary-indep binary-arch binary clean build install

